<div>
    <form action="magicNum" method="post">
        <p>Enter the first number as a min: <input name="value1" type="number" /></p>
        <p>Enter the second number as a max: <input name="value2" type="number" /></p>
        <input name="submit" type="submit" />
    </form>
    <p>
        The magic number is : @Model
    </p>
</div>