
    <div>
        <form action="LastNameAge" method="post">
            <p>Enter your Lastname: <input name="lastname" type="text" /></p>
            <p>Enter your Age: <input name="age" type="number" /></p>
            <input name="submit" type="submit" />
        </form>
        <form action="LastNameAge" method="post">
            <p>Enter your Birthday: <input name="inputBirthday" type="date" /></p>
            <input name="submit" type="submit" />
        </form>
        <p>           Bruh: @Model</p>
    </div>