
<h2>Dates</h2>
<div>
    <form action="HowOld" method="post">
        <p>Enter your birthday: <input name="birthday" type="date" /></p>
        <input name="submit" type="submit" />
    </form>
    <p>            You are @Model years old</p>

</div>
