
    <div>
        <form action="MagicNumber" method="post">
            <p>Enter the first number: <input name="firstNumber" type="number" /></p>
            <p>Enter the second number: <input name="secondNumber" type="number" /></p>
            <input name="submit" type="submit" />
        </form>
        <p>
            The magic number is : @Model
        </p>
    </div>
